<table border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td class="rtecenter"><a href="/napr/bak/isebd/isebd-1/">Курс 1</a></td>
<td class="rtecenter"><a href="/napr/bak/isebd/isebd-2/">Курс 2</a></td>
<td class="rtecenter"><a href="/napr/bak/isebd/isebd-3/">Курс 3</a></td>
<td class="rtecenter"><a href="/napr/bak/isebd/isebd-4/">Курс 4</a></td>
</tr>
</tbody>
</table>
<a href="http://wp-university1.herokuapp.com/wp-content/uploads/2016/11/План_23070062.doc.doc">Учебный план.doc</a>
<p style="text-align: justify;">Направление появилось в университете как отклик на требования времени: переход к рыночной экономике вызвал необходимость прогнозировании развития предприятий, налогового планирования путем переработки больших массивов цифровых данных, что невозможно без применения компьютерной техники.</p>
<p style="text-align: justify;">Специалисты данного профиля требуются во всех отраслях народного хозяйства, банковских, коммерческих и государственных структурах.</p>
<p style="text-align: justify;">Выпускники специальности/направления «Прикладная информатика в экономике» не нуждаются в получении второго экономического образования впоследствии, так как во время обучения они получают значительные знания, как по экономике, так и по программированию экономических задач.</p>
<p style="text-align: justify;">Учебный план направления базируется на изучении программных средств вычислительной техники и прикладной экономики. Первый раздел предусматривает изучение таких дисциплин как Программирование, Операционные системы, Вычислительные системы и сети, Базы данных, Имитационное моделирование, Проектирование информационных систем, Ко второму разделу можно отнести дисциплины: Экономическая теория, Менеджмент, Маркетинг, Бухгалтерский учет, Финансы и кредит. На основе изучения этих предметов преподаются дисциплины теория экономических информационных систем, интеллектуальные информационные системы и автоматизированные системы управления, проектирование, разработка и эксплуатация которых и является основным полем деятельности выпускников в этого направления.</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;">Профессиональные задачи, к решению которых готовят на кафедре:</p>

<ul style="text-align: justify;">
 	<li>проведение обследования прикладной области в соответствии с профилем подготовки;</li>
 	<li>моделирование прикладных и информационных процессов;</li>
 	<li>формирование требований к информатизации и автоматизации прикладных процессов;</li>
 	<li>технико-экономическое обоснование проектных решений, составление технических заданий на автоматизацию и информатизацию решения прикладных задач, техническое проектирование ИС в соответствии со спецификой профиля подготовки;</li>
 	<li>программирование, тестирование и документирование приложений; аттестация и верификация ИС.</li>
</ul>
<p style="text-align: justify;"></p>
<p style="text-align: justify;">Выпускники реализуют себя как программисты, сетевые аналитики, бухгалтеры, экономисты и администраторы сетей.</p>
<p style="text-align: justify;">Значительный процент выпускников организуют собственные предприятия, даже будучи еще студентами. Многие выпускники выезжают за пределы региона (Москва, Санкт-Петербург), страны (Европа, Америка).</p>
