<table border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
  <tr>
  <td class="rtecenter"><%= link_to 'Курс 1', page_path('bak/pibd-1') %></td>
  <td class="rtecenter"><%= link_to 'Курс 2', page_path('bak/pibd-2') %></td>
  <td class="rtecenter"><%= link_to 'Курс 3', page_path('bak/pibd-3') %></td>
  <td class="rtecenter"><%= link_to 'Курс 4', page_path('bak/pibd-4') %></td>
</tr>
</tbody>
</table>
<a href="http://wp-university1.herokuapp.com/wp-content/uploads/2016/11/План_23100062.doc.doc">Учебный план.doc</a>
<p style="text-align: justify;">«Программная инженерия» – новое для нашего региона образовательное направление, включенное под кодом 231000.62 в укрупненную группу 230000 «Информатика и вычислительная техника» перечня направлений подготовки высшего профессионального образования Российской Федерации Международное название направления «Программная инженерия»- Software Engineering.</p>
<p style="text-align: justify;">Программная инженерия - это интегрирование принципов информатики и компьютерных наук с инженерными подходами.</p>
<p style="text-align: justify;">Бакалавры по направлению «Программная инженерия» ориентированы на квалификационные требования профессиональных стандартов по профессиям: программист, специалист по информационным и ресурсам, администратор баз данных, менеджер по продажам решений и сложных технических систем, системный аналитик.</p>
<p style="text-align: justify;">Направление «Программная инженерия» предоставляет выпускникам широчайшие возможности самореализации в профессиональной деятельности:</p>

<ul style="text-align: justify;">
 	<li>Разработка новых программных продуктов</li>
 	<li>Управление проектами</li>
 	<li>Дизайн пользовательских интерфейсов</li>
 	<li>Автоматизация бизнес-процессов</li>
 	<li>Программирование для сети Интернет</li>
 	<li>Администрирование сетей</li>
 	<li>Научная карьера в вышеперечисленных областях</li>
</ul>
<p style="text-align: justify;">Программист — это творческая, востребованная профессия на IT-рынке.</p>
