<article id="post-2" class="post-2 page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">Главная</h1>	</header><!-- .entry-header -->


	<div class="entry-content">
		<table style="height: 370px;" width="608">
<tbody>
<tr>
<td><img class="wp-image-55 alignleft" src="http://wp-university1.herokuapp.com/wp-content/uploads/2016/11/yng-300x200.jpg" alt="yng" width="341" height="228" srcset="http://wp-university1.herokuapp.com/wp-content/uploads/2016/11/yng-300x200.jpg 300w, http://wp-university1.herokuapp.com/wp-content/uploads/2016/11/yng.jpg 400w" sizes="(max-width: 341px) 85vw, 341px"></td>
<td style="text-align: right;">Кафедра основана в 1997 году на факультете Информационных систем и технологий<p></p>
<p>&nbsp;</p>
<p>Адрес кафедры:<br>
432027, г. Ульяновск,ул. Северный Венец, 32,<br>
3 учебный корпус, ауд.422</p>
<p>Телефон кафедры: (8422) 77-80-79</p>
<p>Адрес электронной почты: <a href="mailto:jng@ulstu.ru">jng@ulstu.ru</a></p></td>
</tr>
</tbody>
</table>
<div style="text-align: left;">Заведующая кафедрой — д.т.н., профессор Ярушкина Надежда Глебовна</div>
<p>&nbsp;</p>
<div class="rteright" style="text-align: left;">Кафедра осуществляет подготовку по следующим направлениям:</div>
<ul style="text-align: left;">
<li>направление 09.03.03&nbsp;<u><a href="/napr/bak/isebd/">«Прикладная информатика»</a></u> &nbsp;(профиль «Прикладная информатика в экономике»). Квалификация — бакалавр;</li>
<li>направление 09.03.04&nbsp;<u><a href="/napr/bak/pibd/">«Программная инженерия»</a></u>.<br>
Квалификация – бакалавр.</li>
<li>направление 09.04.03&nbsp;<a href="/napr/mag/isemd/"><u>«Прикладная информатика»</u></a>.<br>
Квалификация – магистр.</li>
<li>направление 09.04.04&nbsp;<u><a href="/napr/mag/pimd/">«Программная инженерия»</a></u>.<br>
Квалификация – магистр.</li>
</ul>
<div style="text-align: left;">При кафедре работает аспирантура по специальностям:</div>
<ul>
<li style="text-align: left;">05.13.12 — Системы автоматизации проектирования,</li>
<li style="text-align: left;">05.13.18 — Математическое моделирование, численные методы и комплексы программ,</li>
<li style="text-align: left;">08.00.05 — Экономика и управление народным хозяйством.</li>
</ul>
	</div><!-- .entry-content -->


</article><!-- #post-## -->

