<ul>
  <li><%= link_to 'направление 09.03.03 «Прикладная информатика» (профиль «Прикладная информатика в экономике»)', page_path('bak/isebd') %></li>
  <li><%= link_to 'направление 09.03.04 «Программная инженерия»', page_path('bak/pibd') %></li>
</ul>
