<a href="http://is.ulstu.ru/sites/default/files/filepicker/17/%D0%9E%20%D0%BA%D0%B0%D1%84%D0%B5%D0%B4%D1%80%D0%B5%20%D0%98%D0%A1.pdf.pdf">Презентация направлений</a>
<p class="rteright">« ..имейте храбрость следовать вашему сердцу и интуиции»</p>
<p align="right">Стив Джобс</p>
<p class="rtejustify">Уважаемые абитуриенты, мы приглашаем Вас, тех, кто уже много знает, немало умеет, с кем очень интересно,  у кого есть честолюбие и ответственность, а так же чувство юмора. Вы обязательно добьетесь цели, не смотря ни на что, потому что  с нами Вас ждет отличный старт в жизни и успешное будущее!</p>
<p class="rtejustify">Возраст наших выпускников от 23 до 35 лет,  но они уже заявили о себе как профессиональные лидеры и в нашем регионе, и в зарубежных компаниях: <strong>Александр Щербина</strong> - создатель и генеральный директор компании <a href="http://www.itech-group.ru/">ITECH.group</a><strong>; </strong><strong>Артур Котельников</strong> - генеральный директор ООО «СтройГрад»; <strong>Камиль Калимуллин</strong> - создатель и генеральный директор группы компаний ITM; <strong>Владислав Эсмонтов</strong> – руководитель и основатель компании «Внедренческий центр Софт Плюс»; <strong>Евгений Горбоконенко</strong> - ведущий эксперт Oracle, Москва; <strong>Наталья Ястребова</strong> - руководитель группы программистов в «CERN» Женева, Швейцария; <strong>Екатерина Сергиевская</strong> – директор гипермаркета крупной немецкой сети OBI, Санкт- Петербург; <strong>Елена Столярова –</strong>специалист компании «Data Repair» Лос-Анджелес, США.</p>
<p class="rtejustify"><strong>Наши студенты</strong> – амбициозные и творческие, веселые и находчивые, многие отмечены наградами, среди наших студентов победители конкурсов «Мистер и Мисс УлГТУ».</p>
<p class="rtejustify">Стипендия наших студентов варьируется от 1272 рубля до 7500 рублей и зависит от качества обучения и участия в научной, спортивной и культурной жизни  университета.</p>
<p class="rtejustify"> <strong>Преподавательский состав</strong> нашей кафедры  (3 доктора наук и 10 кандидатов наук) – признанные лидеры в ИТ-сфере, имеющие многочисленные награды и опыт зарубежных стажировок (ФРГ, Израиль, США, Франция, Южная Корея, Китай), что позволяет внедрять новые образовательные технологии, вести результативную  научную деятельность, привлекая к исследованиям наиболее мотивированных студентов.</p>
<p class="rtejustify"><strong>Наши основные партнеры</strong>: фирма «1С», компания ВЦ Софт Плюс, холдинговая компания "АМС - ГРУПП", НПО «Марс», научно-исследовательский институт IRAFM (Чехия) и др.</p>
&nbsp;

<strong>Направление  «Прикладная информатика» (в экономике)</strong>
<p class="rtejustify"><strong>Прикладная информатика</strong> - это область деятельности по проектированию, разработке и эксплуатации информационных бизнес-систем  и ресурсов</p>
<p class="rtejustify"><strong><em>Квалификация – бакалавр (Нормативный срок обучения - 4 года), есть возможность продолжения обучения в магистратуре по направлению «</em>Программная Инженерия» для получения к<em>валификации – магистр</em></strong>
<strong>Вступительные испытания</strong>: математика, информатика и ИКТ, русский язык.</p>
<p class="rtejustify"><strong>Проходной балл в 2012</strong> г –  178 балла. <strong>Формы обучения</strong> – очная и очно-заочная.</p>
<p class="rtejustify">Имеется  возможность обучения на договорной основе, стоимость обучения в 2012 г. - 60200 рублей в год (по 30100 рублей за полугодие, что требует  резервирования 5017 рублей в месяц),</p>
<p class="rtejustify"><strong>Конкурентные преимущества направления «Прикладная информатика»</strong> Отличительными особенностями выпускника по направлению «Прикладная информатика» от других направлений подготовки в области ИКТ является способность решать широкий круг задач создания, внедрения, сопровождения и эксплуатации информационных систем в различных предметных областях: экономика, менеджмент, юриспруденция, образование, государственное и муниципальное управление и др.</p>
<p class="rtejustify"><strong>Позиционирование выпускников направления «Прикладная информатика». </strong>После окончания университета выпускники могут работать программистом 1С, прикладным программистом, разработчиком проектов по автоматизации и информатизации прикладных процессов, руководителем проектами по информатизации предприятий, руководителем организаций, консультантом по эксплуатации, обучению и внедрению IT-решений и др.</p>
&nbsp;

<strong>Направление  «Программная инженерия»</strong>
<p class="rtejustify"><strong>Программная Инженерия </strong>– это область знаний о принципах и методологиях, применяемых при индустриальной разработке и поддержке программных систем.</p>
<p class="rtejustify"><strong><em>Квалификация – бакалавр (Нормативный срок обучения - 4 года),есть  возможность продолжения обучения в магистратуре по направлению «</em>Программная Инженерия» для получения к<em>валификации – магистр </em></strong>
<strong>Вступительные испытания</strong>: математика, информатика и ИКТ, русский язык.</p>
<p class="rtejustify"><strong>Проходной балл в 2012</strong> г – 203 балла. <strong>Формы обучения</strong> – очная и очно-заочная.</p>
<p class="rtejustify">Имеется возможность обучения на договорной основе, стоимость обучения в 2012 г.-  112 000 рублей в год (по 56000 рублей за полугодие, что требует резервирования 9334 рублей в месяц),</p>
<p class="rtejustify"><strong>Конкурентные преимущества направления «Программная инженерия»</strong>
Востребованность профессии на рынке высока и постоянно растет. Существенный дефицит наблюдается уже сегодня, поэтому при трудоустройстве практически отсутствует конкуренция.</p>
<p class="rtejustify"><strong>Позиционирование выпускников-бакалавров</strong>: После окончания университета выпускники могут работать системными и прикладными программистами, разработчиками мобильных и web-приложений, архитекторами ПО, системными интеграторами, тестировщиками программных продуктов, специалистами по информационным  ресурсам, администраторами баз данных и сетей, техническими писателями, консультантами и менеджерами по продажам ИТ-решений, системными аналитиками и др.</p>
&nbsp;

<strong>Магистратура по направлению «Программная инженерия»</strong>
<p class="rtejustify">Неоспоримо, что главный общемировой тренд в сфере образования перемещается в плоскость приобретения новых компетенций при повышении уровня  квалификаций. Исследования показывают, что среди выдающихся лидеров ИТ-индустрии, чей вклад изменил мир,  более половины имеют квалификации  магистра и доктора. Идя в ногу с современными тенденциями на кафедре «Информационные системы» реализуется непрерывная подготовка профессионалов высшей квалификации – магистров, кандидатов и докторов наук.</p>
<p class="rtejustify">Областью профессиональной деятельности магистров по направлению подготовки 231000 Программная инженерия является индустриальное производство программного обеспечения для информационно-вычислительных систем различного назначения.</p>
<p class="rtejustify"><strong><em>Квалификация – магистр (Нормативный срок обучения - 2 года) </em></strong>
<strong>Количество бюджетных</strong> мест в 2012 году – 10</p>
<p class="rtejustify">Имеется возможность обучения на договорной основе. Стоимость обучения в 2012 году – 127600 рублей в год (по 63800 рублей  за полугодие, что требует резервирования 10634 рублей в месяц),</p>
<p class="rtejustify"><strong>Формы обучения</strong> – очная.</p>
<p class="rtejustify"><strong>Магистранты получают стипендии в размере от </strong> <strong><em>4500 рублей до</em></strong> <strong><em>5000 рублей. Кроме стипендий магистранты имеют возможность получать материальную поддержку по грантам на выполнение исследований и на поездки на научные мероприятия.</em></strong></p>
&nbsp;

<strong>Аспирантура и докторантура</strong>
<p class="rtejustify">На кафедре «Информационные системы» можно пройти обучение для получения высшей квалификации кандидат и доктор наук по специальностям</p>
<p class="rtejustify">05.13.12 – Системы автоматизации проектирования (по отраслям)</p>
<p class="rtejustify">05.13.18 – Математические модели, численные методы и комплексы программ</p>
<p class="rtejustify">08.00.05 - Экономика и управление народным хозяйством</p>
<p class="rtejustify">Руководство аспирантами по указанным направлениям ведут д.т..н., проф. Н.Г.Ярушкина, д.т.н., доцент Т.В.Афанасьева, к.т.н., доцент А.М.Наместников, к.э.н., доцент Е.В. Суркова</p>
<p class="rtejustify"><strong>Стипендия </strong>аспиранта варьируется от 2500 до <strong><em>20000 рублей  ( для направлений </em></strong>05.13.12 и 05.13.18). <strong><em>Так же как и магистранты, аспиранты имеют дополнительные возможности по финансированию своей работы при условии получения грантов на исследования и поездки на научные мероприятия.</em></strong></p>
<p class="rtejustify">Форма обучения – очная, целевая, заочная. Есть возможность обучения  на договорной основе.</p>
