<ul>
 	<li>Бакалавриат
<ul>
  <li><%= link_to 'Направление 09.03.03 «Прикладная информатика» (профиль «Прикладная информатика в экономике»)', page_path('bak/isebd') %></li>
  <li><%= link_to 'Направление 09.03.04 «Программная инженерия»', page_path('bak/pibd') %></li>
</ul>
</li>
</ul>
&nbsp;
<ul>
 	<li> Магистратура
<ul>
  <li><%= link_to 'Направление 09.04.04 «Программная инженерия»', page_path('mag/pimd') %></li>
  <li><%= link_to 'Направление 09.04.03 «Прикладная информатика»', page_path('mag/isemd') %></li>
</ul>
</li>
</ul>
