<div class="block block-aggregator" id="block-aggregator-feed-3">
  <h2>Лента новостей</h2>
  <div class="content">
    <div class="item-list">
      <ul>
        <% News.last(5).each do |news| %>
          <li><%= link_to news.title, news_path(news) %></li>
        <% end %>
      </ul>
    </div>
    <div class="more-link">
      <%= link_to 'Еще', news_index_path %>
    </div>
  </div>
</div>
